.venv
.venv-api
venv
raw
output
input
__pycache__
logo
models/
node_modules
bk
# Large binary formats
*.mp4
*.mp3
*.wav
*.onnx
*.pth
*.index
*.bin
*.zip
*.tar.gz
*.log
*.db


# Temporary and environment directories
translify_tmp/
venv/
.venv/
__pycache__/
scratch/
=2.0.0