# --- Unbox Worker ---
celery>=5.3.6
redis>=5.0.3
SQLAlchemy>=2.0.28
psycopg2-binary>=2.9.9
minio>=7.2.5

# Video Processing
moviepy==1.0.3
numpy>=1.21.0
Pillow>=9.0.0
imageio>=2.9.0
decorator>=4.0.0
librosa>=0.10.2.post1

# Unbox Viral - CV & Detection
ultralytics>=8.1.0
opencv-python>=4.8.0
opencv-contrib-python>=4.8.0
ffmpeg-python>=0.2.0
rembg>=2.0.50
onnxruntime>=1.16.0
